{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Task completed</h1>
                <p>Post <strong>{{.Int}}</strong> and all related comments successful was deleted. </p>
                <a href="/" class="btn btn-success">🏠Back<span>&#8656;</span></a>
            </div>
        </div>
    </div>
{{end}}