{{template "base" .}}

{{define "content"}}
    <div class="container">

        <h1>Home page </h1>
        <div class="row">
            <div class="col">
                <form action="/users/post/create/" method="get">
                    <button class="btn btn-info m-1" name="id" id="id" value="{{.Int}}">Create Post</button>
                </form>
            </div>
        </div>
        {{range .StructHomePage}}
            <h2 class="text-center">Post {{.Id}}</h2>
            <div class="row mb-2 text-center pl-2 pr-2">
                <div class="col-md-1 col-sm-4 bordered ">
                    <div class="bgc-g">userId</div>
                    <hr>
                    <div>{{.UserId}}</div>
                </div>
                <div class="col-md-1 col-sm-4 bordered">
                    <div class="bgc-g">id</div>
                    <hr>
                    <div>{{.Id}}</div>
                </div>

                <div class="col-md-4 col-sm-4 bordered">
                    <div class="bgc-g">title</div>
                    <hr>
                    <div>{{.Title}}</div>
                </div>
                <div class=" col-md-6 col-sm-12 bordered">
                    <div class="bgc-g">body</div>
                    <hr>
                    <div>{{.Body}}</div>
                </div>

            </div>

            <div class="row">
                <form action="/users/post/" method="get">
                    <button class="btn btn-success m-1" name="id" id="id" value="{{.Id}}">Get post
                    </button>
                </form>
                <form action="/users/post/get/" method="get">
                    <button class="btn btn-info m-1" name="id" id="id" value="{{.Id}}">Update</button>
                </form>
                <form action="/users/post/comment/" method="get">
                    <button class="btn btn-info m-1" name="id" id="id" value="{{.Id}}">Write comment</button>
                </form>
                <form action="/users/post/delete/" method="delete">
                    <button class="btn btn-danger m-1" name="id" id="id" value="{{.Id}}">Delete</button>
                </form>
            </div>


            {{range .Comments}}
                <h3>Comment {{.Id}}</h3>
                <div class="row mb-2 text-center pl-2 pr-2">
                    <div class="col-md-1 col-sm-2 bordered ">
                        <div class="bgc-g">postId</div>
                        <hr>
                        <div>{{.PostId}}</div>
                    </div>
                    <div class="col-md-1 col-sm-2 bordered">
                        <div class="bgc-g">id</div>
                        <hr>
                        <div>{{.Id}}</div>
                    </div>

                    <div class="col-md-2 col-sm-4 bordered">
                        <div class="bgc-g">name</div>
                        <hr>
                        <div>{{.Name}}</div>
                    </div>
                    <div class="col-md-2 col-sm-4 bordered">
                        <div class="bgc-g">email</div>
                        <hr>
                        <div>{{.Email}}</div>
                    </div>

                    <div class=" col-md-6 col-sm-12 bordered">
                        <div class="bgc-g">body</div>
                        <hr>
                        <div>{{.Body}}</div>
                    </div>
                </div>

                <div class="row pl-3">

                        <a href="/users/comment/{{.Id}}" class="btn btn-success m-1" name="id" id="id" value="{{.Id}}">Get comment</a>

                    <form action="/users/comment/get/" method="get">
                        <button class="btn btn-info m-1" name="id" id="id" value="{{.Id}}">Update</button>
                    </form>
                    <form action="/users/comment/delete/" method="delete">
                        <button class="btn btn-danger m-1" name="id" id="id" value="{{.Id}}">Delete</button>
                    </form>
                </div>
            {{end}}
        {{end}}
    </div>

{{end}}